# Created by https://www.toptal.com/developers/gitignore/api/linux
# Edit at https://www.toptal.com/developers/gitignore?templates=linux

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*
*.tmp
*.temp

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# Compiled binaries
*.o
*.a
*.so

# Backup files
*~
*.bak
*.swp

# Log files
*.log

# Editor-specific files
*.DS_Store
Thumbs.db

# Config files
*.ini

# End of https://www.toptal.com/developers/gitignore/api/linux
